#{if} language:java
package #{package};
#{endif}

#{for} #{imports}
#{if} language:java
import #{imports};
#{endif}

#{if} language:dotnet
using #{imports};
#{endif}
#{endfor}


#{if} language:dotnet
namespace #{package};
#{endif}

public class #{class_name}Controller {

}