<h1>Gestion des utilisations</h1>

<button (click)="onCreate()">Ajout de utilisation</button>

<table class="table">
  <thead>
    <tr>

      <th>Composant</th>
      <th>DateFinUtilisation</th>
      <th>DateUtilisation</th>
      <th>Etat</th>
      <th>NomProprietaire</th>
      <th>NomUtilisateur</th>
      <th>PrixUnitaire</th>
      <th>Taux</th>
      <th>Utilisation</th>

      <td>
        Immobilier
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let utilisation of utilisations">

      <td>{{ utilisation.composant }}</td>
      <td>{{ utilisation.dateFinUtilisation }}</td>
      <td>{{ utilisation.dateUtilisation }}</td>
      <td>{{ utilisation.etat }}</td>
      <td>{{ utilisation.nomProprietaire }}</td>
      <td>{{ utilisation.nomUtilisateur }}</td>
      <td>{{ utilisation.prixUnitaire }}</td>
      <td>{{ utilisation.taux }}</td>
      <td>{{ utilisation.utilisation }}</td>

        <td>
          {{ utilisation.immobilier ? utilisation.immobilier.nomImmobilier : "" }}
        </td>
      <td>
        <button (click)="onEdit(utilisation)">Modifier</button>
        <button (click)="onDelete(utilisation)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="isCreateModalOpen" class="modal">
  <div class="modal-content">
    <header>
      <h2>Ajouter utilisation</h2>
      <button (click)="onCloseCreateModal()">X</button>
    </header>
    <form (submit)="onSubmitCreate()">

      <label for="composant">Composant:</label>
      <input type="text" id="composant" name="composant" [(ngModel)]="newUtilisation.composant" required>
      <label for="dateFinUtilisation">DateFinUtilisation:</label>
      <input type="datetime" id="dateFinUtilisation" name="dateFinUtilisation" [(ngModel)]="newUtilisation.dateFinUtilisation" required>
      <label for="dateUtilisation">DateUtilisation:</label>
      <input type="datetime" id="dateUtilisation" name="dateUtilisation" [(ngModel)]="newUtilisation.dateUtilisation" required>
      <label for="etat">Etat:</label>
      <input type="text" id="etat" name="etat" [(ngModel)]="newUtilisation.etat" required>
      <label for="nomProprietaire">NomProprietaire:</label>
      <input type="text" id="nomProprietaire" name="nomProprietaire" [(ngModel)]="newUtilisation.nomProprietaire" required>
      <label for="nomUtilisateur">NomUtilisateur:</label>
      <input type="text" id="nomUtilisateur" name="nomUtilisateur" [(ngModel)]="newUtilisation.nomUtilisateur" required>
      <label for="prixUnitaire">PrixUnitaire:</label>
      <input type="number" id="prixUnitaire" name="prixUnitaire" [(ngModel)]="newUtilisation.prixUnitaire" required>
      <label for="taux">Taux:</label>
      <input type="number" id="taux" name="taux" [(ngModel)]="newUtilisation.taux" required>
      <label for="utilisation">Utilisation:</label>
      <input type="text" id="utilisation" name="utilisation" [(ngModel)]="newUtilisation.utilisation" required>

      <select name="idImmobilier" [(ngModel)]="newUtilisation.idImmobilier">
        <option *ngFor="let immobilier of immobiliers" value="{{ immobilier.idImmobilier }}">{{ immobilier.nomImmobilier }}</option>
      </select>
      <button type="submit">Ajouter</button>
    </form>
  </div>
</div>

<div *ngIf="isEditModalOpen" class="modal">
  <div class="modal-content">
    <header>
      <h2>Modifier utilisation</h2>
      <button (click)="onCloseEditModal()">X</button>
    </header>
    <form (submit)="onSubmitEdit()">

      <label for="composant">Composant:</label>
      <input type="text" id="composant" name="composant" [(ngModel)]="editedUtilisation.composant" required>
      <label for="dateFinUtilisation">DateFinUtilisation:</label>
      <input type="datetime" id="dateFinUtilisation" name="dateFinUtilisation" [(ngModel)]="editedUtilisation.dateFinUtilisation" required>
      <label for="dateUtilisation">DateUtilisation:</label>
      <input type="datetime" id="dateUtilisation" name="dateUtilisation" [(ngModel)]="editedUtilisation.dateUtilisation" required>
      <label for="etat">Etat:</label>
      <input type="text" id="etat" name="etat" [(ngModel)]="editedUtilisation.etat" required>
      <label for="nomProprietaire">NomProprietaire:</label>
      <input type="text" id="nomProprietaire" name="nomProprietaire" [(ngModel)]="editedUtilisation.nomProprietaire" required>
      <label for="nomUtilisateur">NomUtilisateur:</label>
      <input type="text" id="nomUtilisateur" name="nomUtilisateur" [(ngModel)]="editedUtilisation.nomUtilisateur" required>
      <label for="prixUnitaire">PrixUnitaire:</label>
      <input type="number" id="prixUnitaire" name="prixUnitaire" [(ngModel)]="editedUtilisation.prixUnitaire" required>
      <label for="taux">Taux:</label>
      <input type="number" id="taux" name="taux" [(ngModel)]="editedUtilisation.taux" required>
      <label for="utilisation">Utilisation:</label>
      <input type="text" id="utilisation" name="utilisation" [(ngModel)]="editedUtilisation.utilisation" required>

        <select name="idImmobilier" [(ngModel)]="editedUtilisation.idImmobilier">
          <option *ngFor="let immobilier of immobiliers" value="{{ immobilier.idImmobilier }}">{{ immobilier.nomImmobilier }}</option>
        </select>
      <button type="submit">Modifier</button>
    </form>
  </div>
</div>
