<h1>Gestion des utilisations</h1>

<button (click)="onCreate()" class="btn btn-primary" >Ajout de utilisation</button>

<table class="table table-responsive">
  <thead>
    <tr>

      <th>Composant</th>
      <th>DateFinUtilisation</th>
      <th>DateUtilisation</th>
      <th>Etat</th>
      <th>NomProprietaire</th>
      <th>NomUtilisateur</th>
      <th>PrixUnitaire</th>
      <th>Taux</th>
      <th>Utilisation</th>

      <td>
        Immobilier
      </td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let utilisation of utilisations">

      <td>{{ utilisation.composant }}</td>
      <td>{{ utilisation.dateFinUtilisation }}</td>
      <td>{{ utilisation.dateUtilisation }}</td>
      <td>{{ utilisation.etat }}</td>
      <td>{{ utilisation.nomProprietaire }}</td>
      <td>{{ utilisation.nomUtilisateur }}</td>
      <td>{{ utilisation.prixUnitaire }}</td>
      <td>{{ utilisation.taux }}</td>
      <td>{{ utilisation.utilisation }}</td>

        <td>
          {{ utilisation.immobilier ? utilisation.immobilier.nomImmobilier : "" }}
        </td>
      <td>
        <div class="d-flex gap-2">
            <button class="btn btn-primary" (click)="onEdit(utilisation)">Modifier</button>
            <button class="btn btn-danger" (click)="onDelete(utilisation)">Supprimer</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex gap-2 align-items-center justify-content-end">
  <p>Total of elements: {{ totalOfElements }}</p>

  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" [class.disabled]="isFirstPage" (click)="previousPage()" tabindex="-1" href="javascript:void(0);">Previous</a>
    </li>
    <li class="page-item" *ngFor="let i of generateRange()" ><a class="page-link" [class.active]="i == currentPage" (click)="switchPage(i + 1)" href="javascript:void(0);">{{ i + 1 }}</a></li>
    <li class="page-item">
      <a class="page-link" [class.disabled]="isLastPage" (click)="nextPage()" href="javascript:void(0);">Next</a>
    </li>
  </ul>
</nav>

<div [class.show-modal]="isCreateModalOpen" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
              <h2>Ajouter utilisation</h2>
              <button class="btn btn-close" (click)="onCloseCreateModal()"></button>
            </div>

            <form (submit)="onSubmitCreate()">
            <div class="modal-body">

                  <label for="composant">Composant:</label>
                  <input class="form-control" type="text" id="composant" name="composant" [(ngModel)]="newUtilisation.composant" required>
                  <label for="dateFinUtilisation">DateFinUtilisation:</label>
                  <input class="form-control" type="datetime" id="dateFinUtilisation" name="dateFinUtilisation" [(ngModel)]="newUtilisation.dateFinUtilisation" required>
                  <label for="dateUtilisation">DateUtilisation:</label>
                  <input class="form-control" type="datetime" id="dateUtilisation" name="dateUtilisation" [(ngModel)]="newUtilisation.dateUtilisation" required>
                  <label for="etat">Etat:</label>
                  <input class="form-control" type="text" id="etat" name="etat" [(ngModel)]="newUtilisation.etat" required>
                  <label for="nomProprietaire">NomProprietaire:</label>
                  <input class="form-control" type="text" id="nomProprietaire" name="nomProprietaire" [(ngModel)]="newUtilisation.nomProprietaire" required>
                  <label for="nomUtilisateur">NomUtilisateur:</label>
                  <input class="form-control" type="text" id="nomUtilisateur" name="nomUtilisateur" [(ngModel)]="newUtilisation.nomUtilisateur" required>
                  <label for="prixUnitaire">PrixUnitaire:</label>
                  <input class="form-control" type="number" id="prixUnitaire" name="prixUnitaire" [(ngModel)]="newUtilisation.prixUnitaire" required>
                  <label for="taux">Taux:</label>
                  <input class="form-control" type="number" id="taux" name="taux" [(ngModel)]="newUtilisation.taux" required>
                  <label for="utilisation">Utilisation:</label>
                  <input class="form-control" type="text" id="utilisation" name="utilisation" [(ngModel)]="newUtilisation.utilisation" required>

                  <select class="form-control" name="idImmobilier" [(ngModel)]="newUtilisation.idImmobilier">
                    <option *ngFor="let immobilier of immobiliers" value="{{ immobilier.idImmobilier }}">{{ immobilier.nomImmobilier }}</option>
                  </select>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
            </form>
          </div>
    </div>
</div>

<div [class.show-modal]="isEditModalOpen" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h2>Modifier utilisation</h2>
              <button (click)="onCloseEditModal()" class="btn btn-close" ></button>
            </div>

            <form class="d-flex gap-2 flex-column" (submit)="onSubmitEdit()">
                <div class="modal-body">

                  <label for="composant">Composant:</label>
                  <input class="form-control" type="text" id="composant" name="composant" [(ngModel)]="editedUtilisation.composant" required>
                  <label for="dateFinUtilisation">DateFinUtilisation:</label>
                  <input class="form-control" type="datetime" id="dateFinUtilisation" name="dateFinUtilisation" [(ngModel)]="editedUtilisation.dateFinUtilisation" required>
                  <label for="dateUtilisation">DateUtilisation:</label>
                  <input class="form-control" type="datetime" id="dateUtilisation" name="dateUtilisation" [(ngModel)]="editedUtilisation.dateUtilisation" required>
                  <label for="etat">Etat:</label>
                  <input class="form-control" type="text" id="etat" name="etat" [(ngModel)]="editedUtilisation.etat" required>
                  <label for="nomProprietaire">NomProprietaire:</label>
                  <input class="form-control" type="text" id="nomProprietaire" name="nomProprietaire" [(ngModel)]="editedUtilisation.nomProprietaire" required>
                  <label for="nomUtilisateur">NomUtilisateur:</label>
                  <input class="form-control" type="text" id="nomUtilisateur" name="nomUtilisateur" [(ngModel)]="editedUtilisation.nomUtilisateur" required>
                  <label for="prixUnitaire">PrixUnitaire:</label>
                  <input class="form-control" type="number" id="prixUnitaire" name="prixUnitaire" [(ngModel)]="editedUtilisation.prixUnitaire" required>
                  <label for="taux">Taux:</label>
                  <input class="form-control" type="number" id="taux" name="taux" [(ngModel)]="editedUtilisation.taux" required>
                  <label for="utilisation">Utilisation:</label>
                  <input class="form-control" type="text" id="utilisation" name="utilisation" [(ngModel)]="editedUtilisation.utilisation" required>

                    <select class="form-control" name="idImmobilier" [(ngModel)]="editedUtilisation.idImmobilier">
                      <option *ngFor="let immobilier of immobiliers" value="{{ immobilier.idImmobilier }}">{{ immobilier.nomImmobilier }}</option>
                    </select>
                </div>

                <div class="form-footer">
                    <button class="btn btn-primary" type="submit">Modifier</button>
                </div>
            </form>
          </div>
    </div>
</div>
